*{
    padding: 0px;
    margin: 0px;
    /* background-color: black; */

}
body{
    background-image: url(stop-clock.jpg) ; 
      background-repeat: none;
      width: 100%;
      height: 100%;
    background-size: cover;
}
.head{
    font-size: 300%;
    color: black ;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;  
     padding: 40px 20px 10px; 
}
.timer-container{
    background-color: #F5FEFD;
    height: 300px;
    position: absolute;
    top: 23%;
    right: 27%;
    width:40%;
    align-content: center;
    padding: 40px;
    border-radius: 30px;
    box-shadow: 5px 5px  10px 5px #89CFF0;
}
#timer{
    font-size: 500%;
    background-color: white;
    padding: 20px 10px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 3px 3px 20px #89CFF0;
    color: #00308F;
}
.btn{
    font-size: 175%;
    padding: 10px 35px;
    border-radius: 15px;
    margin: 40px 27px;
    border: none;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}
.buttons{
    margin-top: 50px;
    background-color: #F5FEFD;
    border-radius: 20px;
    justify-content: space-around;
}
#start{
    background-color: darkgreen;
    color: white;
}
#stop{
    background-color: red;
    color: white;
}
#reset{
    background-color: palevioletred;
    color: white;
}
.btn:hover{
    cursor: pointer;
    box-shadow: 3px 3px 20px #89CFF0;
}